<div id="registration" class="container">
  <div class="row">
    <h1>Edit User Role</h1>
    <p>Is&nbsp;<%= @user.email %>&nbsp;and admin?&nbsp;<strong><%= @user.admin ? "Yes" : "No" %></strong>

    <form action="/admin/<%= @user.id %>" method="post">
      <%= authenticity_token_tag %>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> Prohibited this admin from being added:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <label>Admin</label>
        <input type="checkbox" name="user[admin]" value="true" <%= "checked=\"checked\"" if @user.admin %> />
        <input type="hidden" name="user[id]" value="<%= @user.id %>" />
      </div>

      <input type="submit" class="btn btn-danger"/>
    </form>
  </div>
</div>
