<!DOCTYPE html>
<html>
<head>
  <title>I Love My Doctor</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script>window.fbAppId="<%= ENV['APP_ID'] %>";</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    // take all events from session and convert to javascript google analytics event tracking
    <% each_event do |category, action, label| %>
      console.log("<%= [category, action, label].join(" - ") %>");
      // ga.push("<%# event %>");
    <% end %>
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.js"></script>
  <%= csrf_meta_tags %>
  <div id="fb-root"></div>
</head>
<body>

<%= render "partials/navbar" %>

<!-- Alerts -->
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<!-- ******** -->


<%= yield %>
<%= render "partials/footer" %>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
</body>
</html>
